

<div class="card-div">
    <img src="<%= book.image_url %>" alt="">
    <h3>
        <%= book.title %>
    </h3>
    <h5 class="author-h5">
        <%= book.author %>
    </h5>
    <p class="desc">
        <%= book.description %>
    </p>
    <h5 class="isbn-h5">
      ISBN: <%= book.isbn %>
    </h5>
    
</div>