<div class="card-div">
    <img src="<%= book.image_url %>" alt="">
    <h3>
        <%= book.title %>
    </h3>
    <h5 class="author-h5">
        <%= book.author %>
    </h5>
    <p class="desc">
        <%= book.description %>
    </p>
    <h5 class="isbn-h5">
        ISBN: <%= book.isbn %>
    </h5>
    <button class="detail-btn"><a class="bookBtn" href="/books/<%=book.id%>">View Details</a></button>
    <form action="/books" method="POST" id="add">
        <input type="hidden" name="title" value="<%= book.title %>">
        <input type="hidden" name="author" value="<%= book.author %>">
        <input type="hidden" name="image_url" value="<%= book.image_url %>">
        <input type="hidden" name="description" value="<%= book.description %>">
        <input type="hidden" name="isbn" value="<%= book.isbn %>">
        <button type="submit">Add to Collection</button>
    </form>
    <div class="up-del">

        <form action="/edit/<%= book.id %>" method="get" class="update-form">
            <input type="hidden" name="title" value="<%= book.title %>">
            <input type="hidden" name="author" value="<%= book.author %>">
            <input type="hidden" name="image_url" value="<%= book.image_url %>">
            <input type="hidden" name="description" value="<%= book.description %>">
            <input type="hidden" name="isbn" value="<%= book.isbn %>">
            <button type="submit">Update</button>
        </form>
        <form action="/delete/<%= book.id %>?_method=DELETE" method="POST" class="delete-form">
            <button type="submit">Delete Book</button>
        </form>
    </div>

</div>