<!DOCTYPE html>
<html lang="en">
<%- include('layout/head', {title:'Book Collection'}) %>

  <body>
    <div class="wrapper">
      <main>
        <%- include('layout/header') %>
          <div id="saved-books">
            <p id="db-num">
              <%= books.length %>
            </p>
            <h4>Saved Books</h4>
          </div>

          <div id="cards-container">
            <% books.forEach((book)=>{ %>
              <%- include('books/detail', {book}) %>
                <% }) %>
          </div>
      </main>
      <div class="push"></div>
      <%- include('layout/footer') %>
    </div>
  </body>

</html>