<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <!-- <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/state.css"> -->
    <%- include('layout/head') %>
  </head>
  <body>
    <main>
      <header>
        <%- include('layout/header') %>
        <h4>Saved Books</h4>
        <p> <%= books.length %> </p>
      </header>
      <% books.forEach((book)=>{ %>
        <%- include('books/detail', {book}) %>
      <% }) %>


    </main>
    <%- include('layout/footer') %>
  </body>
</html>